
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    border-style: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color: black;
    border: 2px solid black;

    transition: background-color 0.5s, color 0.5s;
}
.btn:hover{
    background-color: black;
    color: white;
}
.content_phrase{
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border-style: dashed;
    font-weight: bold;

    transition: background-color 0.5s;
}
.source{
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
}
.source:hover{
    background-color: black;
    color: white;
}

.bg11{
    background-color: lightsalmon;
}
.bg22{
    background-color:lightpink;
}
.bg33{
    background-color:lightblue;
}
.bg44{
    background-color:lightskyblue;
}